.swal-footer {
    text-align: center !important;
}

.disable {
    opacity: .5;
    cursor: not-allowed;
}

.text-search {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}

@media (max-width:600px) {
    .text-search {
        margin-top: 13.5rem;
    }
}